<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/assets/icon/Logo.svg" />
    <script src="lib/Jquery/jquery364.js"></script>
    <title>Phát triển các hệ thống dựa trên tri thức</title>
    <link rel="stylesheet" href="/public/css/page/adminpage.css" />
    <link rel="stylesheet" href="/public/css/data.css" />
  </head>

  <body>
    <div class="nav--loading">
      <img src="/public/assets/image/loading.gif" alt="LOADING">
    </div>
    <div class="header"></div>
    <div class="content">
      <div class="content--sidebar">
        <div class="content--sidebar--items">
          <a href="/home" class="content--sidebar--item"><i class="fa-regular fa-gauge-max"></i>Data</a>
          <a href="/content" class="content--sidebar--item adminpage"><i class="fa-regular fa-book"></i>Content</a>
          </div>
      </div>
      <div class="content-data">
        <div class="main">
          <div id="auto-args">
            <button class="btn">Tự động tìm tham số tốt nhất</button>
          </div>
          <div id="input-args">
            <p>Tự nhập tham số:</p>
            <form class="form-args" action="/content">
              <div>
                <label class="inputLabel inputLabel--label" for="graphical_error_scale">Graphical Error Scale:</label>
                <input class="inpt" type="number" step="0.01" name="graphical_error_scale" id="graphical_error_scale">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="max_iterations">Max iterations:</label>
                <input class="inpt" type="number" step="0.01" name="max_iterations" id="max_iterations">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="pop_size">Pop Size:</label>
                <input class="inpt" type="number" step="0.01" name="pop_size" id="pop_size">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="mutation_rate">Mutation Rate:</label>
                <input class="inpt" type="number" step="0.01" name="mutation_rate" id="mutation_rate">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="crossover_rate">CrossOver Rate:</label>
                <input class="inpt" type="number" step="0.01" name="crossover_rate" id="crossover_rate">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_input">Nodes Input:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_input" id="nodes_input">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_hidden">Nodes Hidden:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_hidden" id="nodes_hidden">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_output">Nodes Output:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_output" id="nodes_output">
              </div>
              <button class="btn" type="submit">Chạy</button>
            </form>
          </div>
          <div id="result"></div>
        </div>
        <div class="main2">
          <div class="text-result box">
            <span>Tham số</span>
            <ul id="ul3">
              <li>graphical_error_scale: {{ graphical_error_scale }}</li>
              <li>max_iterations: {{ max_iterations }}</li>
              <li>pop_size: {{ pop_size }}</li>
              <li>mutation_rate: {{ mutation_rate }}</li>
              <li>crossover_rate: {{ crossover_rate }}</li>
              <li>nodes_input: {{ nodes_input }}</li>
              <li>nodes_hidden: {{ nodes_hidden }}</li>
              <li>nodes_output: {{ nodes_output }}</li>
            </ul>
          </div>
          <div class="img1 box">
            {{ image1|safe }}
            <!-- <img width="527" height="391" src="" alt=""> -->
            <p>Tiêu đề ảnh</p>
          </div>
          <div class="img1 box">
            {{ image2|safe }}
            <p>Tiêu đề ảnh</p>
          </div>

        </div>
      </div>
    </div>
  </body>
  <script src="/public/lib/Jquery/jquery364.js"></script>
  <script src="/public/js/admin.js"></script>
  <script src="/public/js/adminpage.js"></script>
</html>
