<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/assets/icon/Logo.svg" />
    <script src="lib/Jquery/jquery364.js"></script>
    <title>Phát triển các hệ thống dựa trên tri thức</title>
    <link rel="stylesheet" href="/public/css/page/adminpage.css" />
    <link rel="stylesheet" href="/public/css/data.css" />
  </head>

  <body>
    <div class="nav--loading">
      <img src="/public/assets/image/loading.gif" alt="LOADING">
    </div>
    <div class="header"></div>
    <div class="content">
      <div class="content--sidebar">
        <div class="content--sidebar--items">
          <a href="/home" class="content--sidebar--item"><i class="fa-solid fa-house"></i>Data</a>
          <a href="/content" class="content--sidebar--item adminpage"><i class="fa-solid fa-book"></i>Content</a>
          </div>
      </div>
      <div class="content-data">
        <div class="main">
          {% comment %} <div id="auto-args">
          </div> {% endcomment %}
          <div id="input-args">
            <p>Nhập tham số:</p>
            <form class="form-args" action="/content">
              <div style="display: none;">
                <label class="inputLabel inputLabel--label hidden" for="graphical_error_scale">Graphical_error_scale:</label>
                <input class="inpt" type="number" step="0.01" name="graphical_error_scale" id="graphical_error_scale" value="300">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="max_iterations">Max_iterations:</label>
                <input class="inpt" type="number" step="0.01" name="max_iterations" id="max_iterations">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="pop_size">Pop_Size:</label>
                <input class="inpt" type="number" step="0.01" name="pop_size" id="pop_size">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="mutation_rate">Mutation_Rate:</label>
                <input class="inpt" type="number" step="0.01" name="mutation_rate" id="mutation_rate">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="crossover_rate">Crossover_Rate:</label>
                <input class="inpt" type="number" step="0.01" name="crossover_rate" id="crossover_rate">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_input">Nodes_input:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_input" id="nodes_input">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_hidden">Nodes_hidden:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_hidden" id="nodes_hidden">
              </div>
              <div>
                <label class="inputLabel inputLabel--label" for="nodes_output">Nodes_output:</label>
                <input class="inpt" type="number" step="0.01" name="nodes_output" id="nodes_output">
              </div>
              <button class="btn" type="submit">Chạy</button>
            </form>
          </div>
          <div id="result"></div>
        </div>
        <div class="main2">
          <div class="text-result box">
            <table>
              <tr>
                <th>Label</th>
                <th>Tham số</th>
              </tr>
              <tr style="display: none;">
                <td>Graphical_error_scale</td>
                <td>{{ graphical_error_scale }}</td>
              </tr>
              <tr>
                <td>Max_iterations</td>
                <td>{{ max_iterations }}</td>
              </tr>
              <tr>
                <td>Pop_size</td>
                <td>{{ pop_size }}</td>
              </tr>
              <tr>
                <td>Mutation_rate</td>
                <td>{{ mutation_rate }}</td>
              </tr>
              <tr>
                <td>Crossover_rate</td>
                <td>{{ crossover_rate }}</td>
              </tr>
              <tr>
                <td>Nodes_input</td>
                <td>{{ nodes_input }}</td>
              </tr>
              <tr>
                <td>Nodes_hidden</td>
                <td>{{ nodes_hidden }}</td>
              </tr>
              <tr>
                <td>Nodes_output</td>
                <td>{{ nodes_output }}</td>
              </tr>
            </table>
          </div>
          <div class="img1 box">
            {{ image1|safe }}
            <!-- <img width="527" height="391" src="" alt=""> -->
            {% comment %} <p>Tiêu đề ảnh</p> {% endcomment %}
          </div>
          <div class="img1 img2 box">
            {{ image2|safe }}
            {% comment %} <p>Tiêu đề ảnh</p> {% endcomment %}
          </div>

        </div>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/2c68c3962d.js" crossorigin="anonymous"></script>
  <script src="/public/lib/Jquery/jquery364.js"></script>
  <script src="/public/js/admin.js"></script>
  <script src="/public/js/adminpage.js"></script>
</html>
