<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/assets/icon/Logo.svg" />
    <script src="lib/Jquery/jquery364.js"></script>
    <title>Phát triển các hệ thống dựa trên tri thức</title>
    <link rel="stylesheet" href="/public/css/page/adminpage.css" />
    <link rel="stylesheet" href="/public/css/data.css" />
    
  </head>

  <body>
    <div class="nav--loading">
      <img src="/public/assets/image/loading.gif" alt="LOADING">
    </div>
    <div class="header"></div>
    <div class="content">
      <div class="content--sidebar">
        <div class="content--sidebar--items">
          <a href="/home" class="content--sidebar--item adminpage"><i class="fa-solid fa-house"></i>Data</a>
          <a href="/content" class="content--sidebar--item"><i class="fa-solid fa-book"></i>Content</a>
          </div>
      </div>
      <div class="content--main">
        <div class="head-data">
          <h1>Bộ dữ liệu hoa các loại hoa Iris (150 mẫu dữ liệu)</h1>
          <h2>Tác giả: Ronald A. Fisher</h2>
        </div>
        <div class="content-1">
          <div class="head-first">
            <p>Bộ dữ liệu chứa thông tin về 3 loại hoa Iris khác nhau</p>  
            <div class="img-first">
              <div>
                <img height="150" width="150" src="/public/assets/image/Setosa.jpg" alt="">
                <p>Iris Setosa</p>
              </div>
              <div>
                <img height="150" width="150" src="/public/assets/image/Versicolor.jpg" alt="">
                <p>Iris Versicolor</p>
              </div><div>
                <img height="150" width="150" src="/public/assets/image/Virginica.jpg" alt="">
                <p>Iris Virginica</p>
              </div>
            </div>
          </div>
          <div class="head-second">
            <div class="hs-text">
              <p>Có 4 thuộc tính để phân biệt các loại hoa Iris:</p>
              <div id="ul-main">
                <ul id="ul1">
                  <li>Sepal length</li>
                  <li>Sepal width</li>
                </ul>
                <ul id="ul2">
                  <li>Petal length</li>
                  <li>Petal width</li>
                </ul>
              </div>
            </div>
            <div>
              <img src="/public/assets/image/Iris info.jpg"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/2c68c3962d.js" crossorigin="anonymous"></script>
  <script src="/public/lib/Jquery/jquery364.js"></script>
  <script src="/public/js/admin.js"></script>
  <script src="/public/js/adminpage.js"></script>
</html>
